.trail { /* className for the trail elements */
    position: absolute;
    height: 20px; width: 20px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: teal;
}

body {
    -webkit-animation: pulse 20s infinite;
    animation: pulse 20s infinite;
}


@-webkit-keyframes pulse {
    0% {background:#151515}
    25% {background:#d5456d}
    50% {background:#eeeeee}
    75% {background:#43434e}
    100% {background:#151515}
}

@keyframes pulse {
    0% {background:#151515}
    25% {background:#d5456d}
    50% {background:#eeeeee}
    75% {background:#43434e}
    100% {background:#151515}
}
